/*.log
/target
/classes
/checkouts
/*-init.clj
/resources/public/js/compiled
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/out
/.repl
*.log
/.env
/node_modules
config.edn

# vim
*.swp
*.swo

# macOS
.DS_Store

uiddb.transit
