{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}},
 :aliases
 {:cljs
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.597"},
    thheller/shadow-cljs {:mvn/version "2.8.80"}
    thi.ng/geom {:mvn/version "1.0.0-RC4"},
    reagent {:mvn/version "0.8.1"}}}},
 :paths ["src"]}
