{:deps {:aliases [:cljs]}
 :builds
 {:browser
  {:target     :browser
   :modules    {:browser {:entries [nag.core]}}
   :output-dir "resources/public/js/nag"
   :asset-path "js/nag"
   :devtools   {:after-load nag.core/init
                :http-root  "resources/public"
                :http-port  32123}}}}
