{:builds
 {:site
  {:compiler-options {:externs ["externs/isotope.ext.js"
                                "externs/particles.ext.js"]}
   :output-dir "resources/public/js/nag"
   :modules {:site {:entries [nag.core]}}
   :devtools
   {:after-load nag.core/init
    :http-root "resources/public"
    :http-port 32123}
   :asset-path "js/nag"
   :target :browser}}
 :deps {:aliases [:shadow]}}
