body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  margin: 0;
}

@media screen and (max-width: 330px) {
  body {
    font-size: .95rem;
  }
}

body * {
  outline: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body * {
    -webkit-transition: opacity 0s, margin .2s, padding .2s, color .2s;
         -o-transition: opacity 0s, margin .2s, padding .2s, color .2s;
            transition: opacity 0s, margin .2s, padding .2s, color .2s;
  }
}

a {
  text-decoration: none;
}

#header-container {
  position: fixed;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  padding: 10px 16px 10px 8px;
  z-index: 99;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#header-container.pinned {
  top: 0;
}
#header-container ul li {
  display: inline;
}

#header {
  display: -webkit-box;
  display: -mox-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}
#header * {
  padding: 0;
  margin: 0;
}
#header ul li {
  cursor: pointer;
  margin-left: 30px;
}
#header button {
  font-size: medium;
  background: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
#header button.mobile-only {
  font-size: 30px;
}
#header button.mobile-only.active {
  -webkit-transform: rotate3d(1,-1.5,0,180deg);
          transform: rotate3d(1,-1.5,0,180deg);
  font-size: 33px;
}

#header-dropdown {
  height: 0;
  opacity: 0;
  width: 100%;
  transition: height 150ms ease;
}
#header-dropdown * {
  display: none;
}
#header-dropdown.active {
  opacity: 1;
  height: 300px;
}
#header-dropdown.active * {
  text-align: right;
  display: block;
}
#header-dropdown.active ul {
  padding: 0;
  line-height: 2em;
}
#header-dropdown.active ul li {
  cursor: pointer;
  text-decoration: none;
}

.isotope-container {
  margin: 0 4px;
  min-height: 100vh;
  max-height: 100vh;
}

.isotope-sizer,
.isotope {
  width: 16.66%;
  height: 25%;
}
.isotope {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: none;
       -o-transition: none;
          transition: none;
  border-top-right-radius: 1.2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.isotope p.id {
  position: absolute;
  margin: 0;
  top: .5em;
  right: .75em;
}
.isotope div.content {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 1.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}
.isotope div.content * {
  display: none;
}
.isotope.scoped {
  width: 50%;
  height: 50%;
}
.isotope.scoped div.content * {
  display: unset;
}
.isotope.scoped div.content div {
  display: block;
}
.isotope.scoped div.content img,
.isotope.scoped div.content video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: .8em;
}
@supports (-ms-ime-align: auto) {
  .isotope.scoped div.content video {
    width: unset;
    min-height: 100%;
  }
}
.isotope.scoped div.content ul li img {
  margin-right: 25px;
  max-width: 75px;
}
@media screen and (max-width: 1000px) {
  .isotope-sizer,
  .isotope {
    width: 33%;
  }
  .isotope.scoped {
    width: 100%;
    height: 60%;
  }
}
@media screen and (max-width: 500px) {
  .isotope-sizer,
  .isotope {
    height: 20%;
  }
  .isotope.scoped {
    height: 40%;
  }
  .isotope.scoped div.content ul li img {
    margin-right: 15px;
    max-width: 50px;
  }
}
@media screen and (max-height: 500px) {
  .isotope-sizer,
  .isotope {
    width: 33%;
    height: 33%;
  }
  .isotope.scoped {
    width: 66%;
    height: 66%;
  }
}
@media screen and (max-width: 350px) {
  .isotope.scoped {
    width: 100%;
  }
}

.mobile-only {
  display: none;
}
@media screen and (max-width: 700px) {
  .mobile-only {
    display: unset;
  }
}

@media screen and (max-width: 700px) {
  .desktop-only {
    display: none;
  }
}
