:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@supports (-webkit-text-size-adjust: 100%) {
  :root {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* transition: background 1s ease, color 1s ease; */
}
body * {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
}

nav select {
	appearance: none;
	/* outline: none; */
	border: none;
	padding: 0.5rem 1.25rem 0.5rem 1rem;
	border-radius: 3px;
	margin: 0.25rem 0 0.25rem 0.25rem;
	font-size: 1.125rem;
  /* box-shadow: -3px 3px 10px rgba(0,0,0,0.25); */
  /* font-family: monospace; */
  /* font-family: Space Mono; */
  font-family: ui-monospace,
               "Cascadia Mono",
               "Segoe UI Mono",
               "Ubuntu Mono",
               "Roboto Mono",
               Menlo, Monaco, Consolas,
               monospace;
  /* transition: background 1s ease, color 1s ease; */
}

main {
  padding: 0 0 0 0.25rem;
}
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 0 0 0 5vw; */
  width: 100vw;
}
body.gist main {
  width: 60%;
}

h1, h2, h3, p, a {
  /* margin: 0; */
  font-weight: 500;
}
h1 {
  font-size: 10rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.25rem;
}

body.nolan {
  background: #e8e8e8 /* rgb(232,230,235) */;
  color: #424242;
}
body.nolan nav select {
  background: #424242;
  color: #e8e8e8;
}
body.nolan main {
  /* max-width: 400px; */
}
body.nolan main a {
  color: inherit;
}

body.nm8 {
  background: white;
  color: black;
}
body.nm8 nav select {
  background: black;
  color: white;
}
body.nm8 main {
  /* max-width: 600px; */
}

body.Oe {
  background: white;
  color: black;
}
body.Oe nav select {
  background: white;
  color: black;
  border: 1px solid black;
  /* border-radius: 0; */
  /* box-shadow: -2px 2px black; */
}
body.Oe main h1 {
  color: white;
}

body.smixzy {
  background: white /* linear-gradient(225deg, #4400ad, #5000cd) */;
  color: /* lightblue */ #4400ad /* rebeccapurple */;
  /* background: white; */
  /* color: black; */
}
body.smixzy nav select {
  background: #4400ad /* linear-gradient(90deg, #4400ad, #5000cd) */;
  color: skyblue;
  /* border: 1px solid lightblue; */
  /* border-radius: 0; */
  /* box-shadow: -2px 2px black; */
}

body.smixzy main h1 {
  background: -webkit-linear-gradient(0deg, #4400ad, skyblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: light) {}
